<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    импортируем файл musicPlayer.properties:-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id ="musicBean"
          class = "org.example.ClassicalMusic"
           init-method="doMyInit"
            destroy-method="doMyDestroy"
            scope="prototype"
            factory-method="getClassicalMusic"
            >
        <property name="volume" value = "${musicBean.volume}"/>
    </bean>


     <!-- <bean id = "musicPlayer"
          class = "org.example.MusicPlayer"
          scope="prototype">
          <property name="music" ref = "musicBean"/>





//  на 8-м уроке данный бин не нужен.


&lt;!&ndash;        Если пишем напрямую в данном файле:&ndash;&gt;
&lt;!&ndash;        <property name="name" value = "Johnson"/>&ndash;&gt;
&lt;!&ndash;        <property name="volume" value = "56"/>&ndash;&gt;


&lt;!&ndash;        когда инжектим из файла musicPlayer.properties:&ndash;&gt;
        <property name="name" value = "${musicPlayer.name}"/>
        <property name="volume" value = "${musicPlayer.volume}"/>

    </bean>
-->


</beans>